<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../static/images/jquery-1.8.3.min.js"></script>
    <script src="../../static/images/exporting.js"></script>
    <script src="../../static/images/highcharts.js"></script>
    <script src="../../static/images/highcharts-zh_CN.js"></script>
    <script src="../../static/images/funnel.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
      <style type="text/css">
          .rows{
            text-align:center;
        }
      </style>
</head>

<body>
<div id="container" style="min-width:400px;height:400px"></div>
<script type="text/javascript">
   var x = '{{contan|tojson}}';
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pyramid',
            marginRight: 100
        },
        title: {
            text: 'Nginx日志排名',
            x: -50
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b> ({point.y:,.0f})',
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                    softConnector: true
                }
            }
        },
        legend: {
            enabled: false
        },
        series: [{
            data:eval(x)
// [['访问网站',   15654], ['下载产品',       4064], ['询价', 1987], ['发送合同',    976], ['成交',    846]]
        }]
    });
});
</script>

</body>
</html>