<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>欢迎登录</h1>
<form action="/login/" accept-charset="UTF-8" method="post">
    <table>
	姓名：<input placeholder="姓名" type="text" name="user_name"><br>
	密码：<input placeholder="密码" type="password" name="user_password"><br>
	      <input type="submit" value="登录">
    角色：<input type="radio" name="user_role" value=0 checked>管理员<input type="radio" name="user_role" value=1>普通用户<br>
	<span>{{ result}}</span>
    </table>
</form>
</body>
</html>


