<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/lib/jquery-1.8.3.min.js"></script>
    <script src="../static/lib/highcharts-zh_CN.js"></script>
    <script src="../static/lib/exporting.js"></script>
    <script src="../static/lib/highcharts.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>hello</h1>
<div id="container" style="width: 30%;height: 300px;"></div>
<script type="text/javascript">
 var data = '{{local_data|tojson}}';

$(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '本机内存使用率走势图'
            },
//            subtitle: {
//                text: document.ontouchstart === undefined ?
//                '鼠标拖动可以进行缩放' : '手势操作进行缩放'
//            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                title: {
                    text: '本机内存使用率'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '内存使用率',
                data: (eval(data))
            }]
        });
});
</script>

</body>
</html>