<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
    <title>index</title>
</head>

<frameset rows="10%,80%,10%">
        <!--{#        /*是否需要滚动条*/     边框#}-->
    <frameset  frameborder="yes" border="1" framespacing="1"   >
        <frame  noresize="noresize" scrolling="no"  src="../static/htdogs/title.html"/>
    </frameset>

    <frameset cols="8%,92%"  frameborder="yes" border="1" framespacing="1"  >
        <frame noresize="noresize" scrolling="no" src="../static/htdogs/left.html"/>
        <frame  noresize="noresize" src="/host/" name="show"/>
    </frameset>

    <frameset frameborder="yes" border="5" framespacing="1"  >
        <frame noresize="noresize" scrolling="no" src="../static/htdogs/top.html"/>
    </frameset>
</frameset>

</html>