<!DOCTYPE html>
<html>
	<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <!--头部信息,优化浏览器信息-->
				<!--标题信息-->
		<link rel="stylesheet" type="text/css" href="../static/css/user.css"/>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/sweetalert.css" rel="stylesheet">
        <script src="../static/js/jquery-2.1.4.min.js" charset="utf-8"></script>
          <style type="text/css">
/*{##################定义全页面布局####################################}*/

html body table {
            margin-left: 1%;
            margin-top: 1%;
            padding: 10px;
            text-align: center;
            line-height: 25px;
            border-color: #c7ddef;
              }
              html body table thead tr th{
              width: 13%;
              }

</style>
</head>
<body>
{% if result.errmsg %}
    <p style="color:red">{{result.errmsg}}</p>
{% else %}
<a href="http://127.0.0.1/reg/"><h5 align="center">添加用户</h5></a>
<table border="1" >
    <thead>
        <tr>
            <th class="text-center sorting_1" >用户名</th>
            <th class="text-center sorting_1">密码</th>
            <th class="text-center sorting_1">角色</th>
            <th class="text-center sorting_1">操作</th>
        </tr>
    </thead>

    <tbody>
      {% for user in result %}
        <tr>
            <td class="text-center sorting_1">{{user['user_name']}}</td>
            <td class="text-center sorting_1">{{user.user_password}}</td>
            <td class="text-center sorting_1">{% if user.user_role==0 %}管理员{% else%}用户{%endif%}</td>
            <td class="text-center sorting_1">
                <a href="/userinfo/?id={{ user.user_id}}"><button class="btn btn-xs btn-info update" >编辑</button></a>
                <button data-id="{{ user.user_id }}" class="btn btn-xs btn-danger del ">删除</button>
            </td>
        </tr>
      {%endfor%}
    </tbody>
</table>
{% endif %}
    <script>
//         点击更新按钮，获取id，从逻辑端查出对应的数据，弹出模态窗渲染数据
$(".update").click(function(){
    //$('#updateModal').modal('hide')
    var id=$(this).attr("data-id")
    $.getJSON("/userinfo/?id="+id,function(data){
            console.log(data);
        })
})

        /*删除用户*/
    $(".del").click(function(){
	if(confirm("是否确认删除？")){
		var id = $(this).attr('data-id')
        var url = "/delete?id="+id
        alert(url)
		$.getJSON(url,function(data){
			if (data['code']== 0 ){
                location.reload()
			}else{
                alert(data["errmsg"])
			}
    	})
    }  // end confirm
})
</script>

	</body>
</html>