{% extends "base.html" %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
     <br />
        <ol class="breadcrumb">
            <li>
                <a href="/">仪表盘</a>
            </li>
            <li>
                <a href="/idcupdate/">
                机房更新
                </a>
            </li>
        </ol>
    </div>
</div><!--右边导航结束-->
{% endblock %}

{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                 <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改机房信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="updateForm" class="form-horizontal">
								<input id='id' type='hidden' name='id' value='{{ idc.id }}'>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label  ">机房英文简写<span class="red-fonts ">*</span></label>
                                <div class="col-sm-8">
										<input id="name" name="name" value="{{ idc.name }}" type="text" class="form-control">
                                 </div>
                            </div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label for="name_cn" class="col-sm-2 control-label">机房中文名<span class="red-fonts">*</span></label>
								<div class="col-sm-8">
										<input id="name_cn" name="name_cn" value="{{ idc.name_cn }}" type="text" class="form-control">
								</div>
							</div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">地址<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
										<input id="address" name="address" value="{{ idc.address }}" type="text" class="form-control">
                                 </div>
                            </div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label for="adminer" class="col-sm-2 control-label">联系人</label>
								<div class="col-sm-8">
										<input id="adminer" name="adminer" value="{{ idc.adminer  }}" type="text" class="form-control">
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label for="phone" class="col-sm-2 control-label">手机号</label>
								<div class="col-sm-8">
										<input id="phone" name="phone" placeholder="phone" value="{{ idc.phone }}" type="text" class="form-control">
								</div>
							</div>
                            <div class="hr-line-dashed"></div>
                            <div style="color:red" class="text-center" id="errmsg"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
									<button id='button' class="btn btn-primary update-sure" >确认</button>
                                    <button id="button" class="btn btn-default update-cancel">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

$(".update-sure").click(function(){
	$.post("/idcupdate/",$("#updateForm").serialize(),function(data){
	    console.log(data)
	    data=JSON.parse(data);
	    if(data["code"] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			location.href='/idc'
		    })
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
    return false
})


</script>


{% endblock %}
